**/.vs/
**/.vscode/
**/web-http/
**/build-*/

**/Debug/
**/Release/
**/x64/
**/.sln
**/a.out

**/.user
**/.vcxproj.filters
**/.vcxproj



**/.vcxproj.user
**/.qmake.stash

**/.pro.user
**/.gch
**/.h.gch


